@import "tailwindcss";

:root {
  --background: #F2F2F7;
  --text: #0C2A64;
  --font-dm-sans: "DM Sans", sans-serif;
  --font-dm-mono: "DM Mono", sans-serif;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: DM Sans, DM Mono, Arial, sans-serif;
}

h1, h2, h4 {
  font-family: var(--font-dm-mono);
  font-weight: 500;
}

h1, h2, :link {
  font-weight: 500;
}

h2, h3, h4, :link {
  line-height: 100%;
}

h3, h5, p, :link, button {
  font-family: var(--font-dm-sans);
}

h5, p {
  font-weight: 400;
}

h1 {
  font-size: 48px;
  line-height: 60px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 26px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 20px;
  font-weight: 400;
  color: #333333;
}

:link {
  font-size: 14px;
}